@font-face {
  font-family: "Aeon Mono";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/AeonMono/AeonMono-SemiCondensed.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Aeon Mono";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/AeonMono/AeonMono-SemiCondensedItalic.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Aeon Mono";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/AeonMono/AeonMono-SemiCondensedBold.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Aeon Mono";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/AeonMono/AeonMono-SemiCondensedBoldItalic.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Aeon";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Aeon/Aeon-SemiCondensed.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Aeon";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/Aeon/Aeon-SemiCondensedItalic.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Aeon";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Aeon/Aeon-SemiCondensedBold.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Aeon";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/Aeon/Aeon-SemiCondensedBoldItalic.ttf"), local("ttf");
  font-display: swap;
}
