@import "parts/_cards.scss";
@import "parts/_code.scss";
@import "parts/_header.scss";
@import "parts/_image.scss";
@import "parts/_toc.scss";
@import "parts/_note.scss";
@import "parts/_misc.scss";
@import "parts/_table.scss";
@import "parts/_tags.scss";
@import "parts/_mermaid.scss";
@import "parts/_search.scss";
@import "parts/_talks.scss";

:root {
  /* Used for: block comment, hr, ... */
  --border-color: var(--border-color);

  /* Fonts */
  --font-size-base: 18px;
  --mono-text-font: "Aeon Mono";
  --text-font: "Aeon";
  --header-font: "Aeon", "Helvetica", sans-serif;
  --code-font: "Aeon Mono";

  --line-height: 1.5;
  --page-width: 75ch;
}

html {
  background-color: var(--bg-0);
  color: var(--text-0);
  font-family: var(--text-font);
  line-height: var(--line-height);
}

body {
  display: flex;
  flex-grow: 1;
  padding: 0.9rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 150px);
  font-size: var(--font-size-base);

  .content {
    width: 100%;
    max-width: var(--page-width);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
  }
}